<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ようこそ</title>
</head>
<body>

</body>
</html>
{% extends 'cms/base.html' %}

{% block title %}Moreinfo | {% endblock %}

{% block content %}
<section class="section">
    <div class="container is-mobile">
        <h1 class="title is-4">利用規約</h1>
        <h2 class="subtitle is-6">以下の規約を守ってください</h2>
        <hr>
    </div>
    <div>
        <p>
            <br>
            <br>
            <br>
            本文
            <br>
            <br>
            <br>
            <br>
            <br>
        </p>
    </div>
</section>
{% endblock %}
