{% extends 'cms/base.html' %}

{% block title %}Home | {% endblock %}

{% block hero %}
<section class="hero is-medium is-info is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Title</h1>
            <h2 class="subtitle">Subtitle</h2>
            <a href="#">
                <button class="button is-info is-inverted is-outlined">
                    <strong>More Info</strong>
                </button>
            </a>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="section is-medium">
    <div class="container">
        <div class="has-text-centered">
            <h1 class="title">Section</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
</section>
{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
     <!-- NAVIGATION BAR -->
    <header>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <!-- LOGO -->
                <a class="navbar-item" href="/">
                    <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
                </a>
                <!-- HAMBURGER MENU -->
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="my-menu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu" id="my-menu">
                <div class="navbar-end">
                    <a class="navbar-item is-grey" href="#">About</a>
                    <div class="buttons">
                        <a class="button is-info navbar-item" href="#"><strong>Sign up</strong></a>
                        <a class="button is-light navbar-item" href="#"><strong>Log in</strong></a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- MESSAGE -->
    <div></div>
    <!-- MAIN -->
    <main>
        <section class="hero is-medium is-info is-bold">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">Title</h1>
                    <h2 class="subtitle">Subtitle</h2>
                    <a href="#">
                        <button class="button is-info is-inverted is-outlined">
                            <strong>More Info</strong>
                        </button>
                    </a>
                </div>
            </div>
        </section>
        <section class="section is-medium">
            <div class="container">
                <div class="has-text-centered">
                    <h1 class="title">Section</h1>
                    <p>私たちはもう使わなくなった教科書を募集しております。I would appreciate it if you could give us your old textbooks.</p>
                </div>
            </div>
        </section>
    </main>
    <!-- FOOTER -->
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                2020 <strong>UTokyo Project Sprint</strong>
            </div>
            <div class="content has-text-centered">
                <a href="#" class="has-text-dark">About</a> |
                <a href="#" class="has-text-dark">Contact</a> |
                <a href="#" class="has-text-danger">Report an issue</a>
            </div>
        </div>
    </footer>

    <!-- FOR JAVASCRIPT -->
    <script>
        <!-- FOR HAMBURGER MENU -->
        for (const burder of document.getElementsByClassName('navbar-burger')) {
            const menuId = burder.dataset.target;
            const menu = document.getElementById(menuId);
            burder.addEventListener('click', e => {
                burder.classList.toggle('is-active');
                menu.classList.toggle('is-active');
            });
        }

    </script>
</body>
</html>

